<ion-content padding class="login-content">
  
  <div class="wrapper">
      <div class="container" style="z-index: 2;position: relative;">
        <img src="assets/imgs/logo.png" alt="logo" class="homepage-logo">
        <h1>Welcome</h1>
          <input [(ngModel)]="username" type="text" placeholder="Username">
          <input [(ngModel)]="password" type="password"  placeholder="Password">
          <button (click)="login()" id="login-button">Login</button>

        <div style="z-index: 2;position: relative;">
          No account yet? <a class="register-btn" (click)="register()"><u>Register</u></a> or <a class="continue-offline-btn" (click)="continueOffline()"><u>Continue Offline</u></a>
        </div>

      </div>

      
      
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  
</ion-content>