<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Conversion Formulas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="manual-content"  overflow-scroll="true">

  <div class="item item-divider">
    Depth (fsw) to Atmosphere Absolute (ATA)
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Depth (fsw)" [(ngModel)]="depth" (ionChange)='computeAta()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-ata"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    ATA to Depth (fsw)
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="ATA" [(ngModel)]="ata" (ionChange)='computeDepth()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-depth"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    PSIG to ATA
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="PSIG" [(ngModel)]="psig" (ionChange)='psigToAta2()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-ata2"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    ATA to PSIG
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="ATA" [(ngModel)]="ata2" (ionChange)='ata2ToPsig()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-psig"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    Depth (fsw) to PSIG
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Depth (fsw)" [(ngModel)]="depth2" (ionChange)='fswToPsig()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-psig2"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    PSIG to Depth (fsw)
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="PSIG" [(ngModel)]="psig2" (ionChange)='psigToFsw()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-depth2"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    PP of gas
  </div>

  <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-input type="number" placeholder="fsw" [(ngModel)]="fsw5" (ionChange)='ppOfGas()'></ion-input>
        </ion-col>
        <ion-col col-4>
          <ion-input type="number" placeholder="% of gas" [(ngModel)]="gas" (ionChange)='ppOfGas()'></ion-input>
        </ion-col>
        <ion-col class="col-section">
          <ion-label color="primary" id="result-ppOfGas"></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  <div class="item item-divider">
    Surface Equivalent Value (SEV)
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-input type="number" placeholder="fsw" [(ngModel)]="fsw" (ionChange)='sev()'></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-input type="number" placeholder="co2" [(ngModel)]="co2" (ionChange)='sev()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-sev"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    CO2 SEV
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="fsw" [(ngModel)]="fsw4" (ionChange)='co2Sev()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-co2Sev"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    PSIG to PSIA
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="PSIG" [(ngModel)]="psig3" (ionChange)='psigToPsia()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-psia"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    Percentage to decimal
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Percent" [(ngModel)]="percent" (ionChange)='percentToDec()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-decimal"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    Decimal to percent
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Decimal" [(ngModel)]="decimal" (ionChange)='decToPercent()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-percent"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    Decimal to minutes or seconds
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Decimal" [(ngModel)]="decimal2" (ionChange)='decToMinutes()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-minutes"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    Minutes or seconds to decimal
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Minutes or seconds" [(ngModel)]="minutes" (ionChange)='minutesToDec()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-decimal2"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    PP in ATA to PP in mmHg
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="PP in ATA" [(ngModel)]="ata3" (ionChange)='ataToMmhg()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-mmhg"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    PP in mmHg to PP in ATA
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="PP in mmHg" [(ngModel)]="mmhg" (ionChange)='mmhgToAta()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-ata4"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    Percent to PPM
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Percent" [(ngModel)]="percent2" (ionChange)='percentToPpm()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-ppm"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    PPM to percent
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="PPM" [(ngModel)]="ppm" (ionChange)='ppmToPercent()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-percent3"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    AIR/O2 Trading Ratio at that stop
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-input type="number" placeholder="Total Air Stop time" [(ngModel)]="airTime" (ionChange)='computeRatio()'></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-input type="number" placeholder="Total O2 Stop time" [(ngModel)]="o2Time" (ionChange)='computeRatio()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-ratio"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    AIR/O2 Period Conversion
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="O2 Time Remaining" [(ngModel)]="o2TimeRemaining" (ionChange)='computeO2Period()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-o2period"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    SCF to ACF
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-input type="number" placeholder="scf" [(ngModel)]="scf" (ionChange)='scfToAcf()'></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-input type="number" placeholder="fsw" [(ngModel)]="fsw2" (ionChange)='scfToAcf()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-acf"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    ACF to SCF
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-input type="number" placeholder="acf" [(ngModel)]="acf" (ionChange)='acfToScf()'></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-input type="number" placeholder="fsw" [(ngModel)]="fsw3" (ionChange)='acfToScf()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-scf"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    Fahrenheit to Celsius
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Fahrenheit" [(ngModel)]="fahrenheit" (ionChange)='fahrenheitToCelsius()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-celsius"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    Celsius to Fahrenheit
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Celsius" [(ngModel)]="celsius" (ionChange)='celsiusToFahrenheit()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-fahrenheit"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="item item-divider">
    Fahrenheit to Absolute
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Fahrenheit" [(ngModel)]="fahrenheit2" (ionChange)='fahrenheitToAbsolute()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-absolute"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="item item-divider">
    Celsius to Absolute
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-input type="number" placeholder="Celsius" [(ngModel)]="celsius2" (ionChange)='celsiusToAbsolute()'></ion-input>
      </ion-col>
      <ion-col class="col-section">
        <ion-label color="primary" id="result-absolute2"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
