<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login-content" overflow-scroll="true">
  
  <div class="wrapper">
      <div class="container">
        <img src="assets/imgs/logo.png" alt="logo" class="homepage-logo">
        <h1>Sign Up</h1>
          <input [(ngModel)]="username" type="text" placeholder="Username">
          <input [(ngModel)]="firstname" type="text" placeholder="First Name">
          <input [(ngModel)]="lastname" type="text" placeholder="Last Name">
          <input [(ngModel)]="email" type="text" placeholder="Email Address">
          <input [(ngModel)]="password" type="password" placeholder="Password">
          <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password">
          <button (click)="register()" id="register-button">Register</button>
      </div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  
</ion-content>