<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Saved Items</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Saved Items</h2>
    <ion-list>
      <ion-item-sliding *ngFor="let savedText of savedTexts; let i=index">
        <ion-item nopadding>
          <p (click)="goToManual(savedText.description, savedText.chapter)">
            <span><strong>{{savedText.note}}</strong></span><br>
            {{savedText.date}} - {{savedText.description}}
          </p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteData(savedText.rowid)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
