 
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Storage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openChapter(p.component)" style="font-size: 2rem; font-weight: 500">
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="{{p.icon}}"></ion-icon>
            </ion-col>
            <ion-col col-11>
              <span>{{p.title}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
    </button>
  </ion-list>
</ion-content>