<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="manual-content"  overflow-scroll="true">
  <h3>Dalton's Law</h3>

  <div class="item item-divider">
    Compute to total Pressure
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let myItem of myItemsList; let i = index">
          <ion-input [(ngModel)]="myItemsList[i]" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button (click)="addItem()" color="secondary" class="bar-button add-pressure bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-primary">
          <span class="button-inner">Add Pressure Value</span>
        </button>
      </ion-col>
      <ion-col col-3>
        <ion-label>Total: </ion-label>
      </ion-col>
      <ion-col col-5>
        <ion-label color="primary" id="result-pressureTotal"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="compute()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br />
  <div class="item item-divider">
    Compute for Partial Pressure of Oxygen
  </div>

  <ion-item>
      <ion-label color="primary" stacked>Depth (fsw)</ion-label>
    <ion-input type="text" [(ngModel)]="depth2" placeholder="Depth in fsw"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Percentage of Gas</ion-label>
    <ion-input type="text" [(ngModel)]="gas2" placeholder="Percentage of Gas"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-oxy">0</span></u> ppO<sub>2</sub>
    </ion-label>
  </ion-item>
  
  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeOxy()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br />
  <div class="item item-divider">
    Compute for allowed percentage of Oxygen
  </div>

  <ion-item>
      <ion-label color="primary" stacked>Depth (fsw)</ion-label>
    <ion-input type="text" [(ngModel)]="depth" placeholder="Depth in fsw"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Partial Pressure of Oxygen</ion-label>
    <ion-input type="text" [(ngModel)]="oxygen" placeholder="Partial Pressure of Oxygen"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-percent">0</span></u> max % oxygen allowed
    </ion-label>
  </ion-item>
  
  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computePercent()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br />
  <div class="item item-divider">
    Compute for maximum safe depth
  </div>

  <ion-item>
      <ion-label color="primary" stacked>Percentage of Gas</ion-label>
    <ion-input type="text" [(ngModel)]="gas" placeholder="Percentage of Gas"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Partial Pressure of Oxygen</ion-label>
    <ion-input type="text" [(ngModel)]="oxygen2" placeholder="Partial Pressure of Oxygen"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-depth">0</span></u> fsw
    </ion-label>
  </ion-item>
  
  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeDepth()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

</ion-content>
