<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="manual-content"  overflow-scroll="true">
  <h3>EGS Pressure Calculation</h3>

  <div class="item item-divider">
    BOTTOM
  </div>

  <ion-item>
    <ion-label color="primary" stacked>Depth (fsw)</ion-label>
    <ion-input type="number" [(ngModel)]="depth" placeholder="Depth (fsw)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Time to Leave</ion-label>
    <ion-input type="number" [(ngModel)]="ttl" placeholder="Time to Leave (minute)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Air Consumption</ion-label>
    <ion-input type="number" [(ngModel)]="air" placeholder="Air Consumption"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
      Result : <u><span id="result-airRequired">0</span></u> ft<sup>3</sup>
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeAirRequired()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br /><br />

  <div class="item item-divider">
    ASCENT
  </div>

  <ion-item>
    <ion-label color="primary" stacked>Average Depth (fsw)</ion-label>
    <ion-input type="number" [(ngModel)]="depth2" placeholder="Average Depth (fsw)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Consumption rate in acfm</ion-label>
    <ion-input type="number" [(ngModel)]="rate" placeholder="Consumption rate in acfm"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Number of divers</ion-label>
    <ion-input type="number" [(ngModel)]="divers" placeholder="Number of divers"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Total Ascent Time</ion-label>
    <ion-input type="number" [(ngModel)]="time" placeholder="Total Ascent Time (minute)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
      Result : <u><span id="result-ascent">0</span></u> ft<sup>3</sup>
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeAscent()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <ion-item class="hide">
      <ion-label color="primary" stacked>ATA</ion-label>
    <ion-input type="number" [(ngModel)]="ata" (ionChange)='computeSfc()' placeholder="PSIG in flasks"></ion-input>
  </ion-item>

  <ion-item  class="hide">
    <ion-label color="primary" stacked>FV</ion-label>
    <ion-input type="number" [(ngModel)]="fv" (ionChange)='computeSfc()' placeholder="Floodable volume in flasks in cu ft"></ion-input>
  </ion-item>

  <ion-item  class="hide">
      <ion-label color="primary" stacked>N</ion-label>
      <ion-input type="number" [(ngModel)]="n" (ionChange)='computeSfc()' placeholder="Number of flasks"></ion-input>
    </ion-item>

  <ion-item  class="hide">
    <ion-label class="add-pre">
        Result : <u><span id="result-sfc">0</span></u> standard cubic feet.
    </ion-label>
  </ion-item>

  <ion-item  class="hide">
    <button ion-button (click)="save()" class="save-computation" block>Save Computation</button>
  </ion-item>
</ion-content>
