page-splash {
  
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
    * {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
    body {
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      font-weight: 300;
    }
    body ::-webkit-input-placeholder {
      /* WebKit browsers */
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      font-weight: 300;
    }
    body :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      opacity: 1;
      font-weight: 300;
    }
    body ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      opacity: 1;
      font-weight: 300;
    }
    body :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      font-weight: 300;
    }
    .wrapper {
      background: #e7e303;
      background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
      background: linear-gradient(to bottom right, #4062a0 0%, #20b7d0 100%);
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 2;
    }
    .wrapper.form-success .container h1 {
      -webkit-transform: translateY(85px);
              transform: translateY(85px);
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 80px 0;
      height: 400px;
      text-align: center;
    }
    .container h1 {
      font-size: 40px;
      -webkit-transition-duration: 1s;
              transition-duration: 1s;
      -webkit-transition-timing-function: ease-in-put;
              transition-timing-function: ease-in-put;
      font-weight: 200;
    }
    form {
      padding: 20px 0;
      position: relative;
      z-index: 2;
    }
    input {
      z-index: 2;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      outline: 0;
      border: 1px solid rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 255, 255, 0.2);
      width: 250px;
      border-radius: 3px;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: white;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s;
      font-weight: 300;
    }
    input:hover {
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.4);
    }
    input:focus {
      background-color: white;
      width: 300px;
      color: #084eaa;
      z-index: 2;
    }
    button {
      z-index: 2;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      outline: 0;
      background-color: white;
      border: 0;
      padding: 10px 15px;
      color: #0c1771;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;
      margin: 0 auto 10px auto;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s;
    }
    button:hover {
      background-color: #f5f7f9;
      z-index: 2;
    }
    .bg-bubbles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .bg-bubbles li {
      position: absolute;
      list-style: none;
      display: block;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.15);
      bottom: -160px;
      -webkit-animation: round 25s infinite;
      animation: round 25s infinite;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    .bg-bubbles li:nth-child(1) {
      left: 10%;
    }
    .continue-offline-btn{
      color: #000000;
    }
    .register-btn{
      color: #000000;
    }
    .bg-bubbles li:nth-child(2) {
      left: 20%;
      width: 80px;
      height: 80px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 12s;
              animation-duration: 12s;
    }
    .bg-bubbles li:nth-child(3) {
      left: 30%;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
    }
    .bg-bubbles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      -webkit-animation-duration: 13s;
              animation-duration: 13s;
      background-color: rgba(255, 255, 255, 0.25);
    }
    .bg-bubbles li:nth-child(5) {
      left: 70%;
    }
    .bg-bubbles li:nth-child(6) {
      left: 80%;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .bg-bubbles li:nth-child(7) {
      left: 32%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 7s;
              animation-delay: 7s;
    }
    .bg-bubbles li:nth-child(8) {
      left: 55%;
      width: 20px;
      height: 20px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s;
      -webkit-animation-duration: 40s;
              animation-duration: 40s;
    }
    .bg-bubbles li:nth-child(9) {
      left: 25%;
      width: 10px;
      height: 10px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 40s;
              animation-duration: 40s;
      background-color: rgba(255, 255, 255, 0.3);
    }
    .bg-bubbles li:nth-child(10) {
      left: 90%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 11s;
              animation-delay: 11s;
    }
    @-webkit-keyframes round {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      60% {
        -webkit-transform: translateY(-700px) rotate(600deg);
                transform: translateY(-700px) rotate(600deg);
      }
    }
    @keyframes round {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      80% {
        -webkit-transform: translateY(-700px) rotate(600deg);
                transform: translateY(-700px) rotate(600deg);
      }
    }
    
    img.homepage-logo {
      max-width: 15%;
      margin-top: 25px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 20px;
    }
  
  }
  