<ion-content padding class="login-content">
    
    <div class="wrapper">
        <div class="container" style="z-index: 2;position: relative;">
          <img src="assets/imgs/logo.png" alt="logo" class="homepage-logo">
          <h3>Loading</h3>
          <ion-spinner name="crescent"></ion-spinner>
        </div>
  
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    
  </ion-content>