 
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">
  <img src="assets/imgs/logo.png" alt="logo" class="homepage-logo">
  <h3 class="home-title">U.S. Navy Dive Manual</h3>
</ion-content>