// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#sidenav {
  ion-item[submenu-item] {
    padding-left: 25px; // maybe margin-left would work better to move the border as well
    color: #802b2b;
  }

  ion-navbar {
    background-color: blue;
  }
}

.pad-top-10{
  padding-top: 10px;
}

.pad-bottom-10{
  padding-bottom: 10px;
}

.pad-top-20{
  padding-top: 20px;
}

div.pfdContent-body {
  text-indent: 20px;
}

div.inline-box{
  display: -webkit-inline-box;
}

ion-content{
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  -webkit-user-callout: default !important;
  -webkit-touch-callout: default !important;
}

.highlightedText {
  background: yellow;
}

ion-col.paragraph-cols{
  text-align: justify;
}

.add-pre{
  white-space: inherit;
}

.save-computation{
  height: 40px !important;
  font-size: 1.5rem !important;
}

div.chapter {
  display: inline-block;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item.item-divider {
  padding-bottom: 8px;
  min-height: 30px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border-color: #000000;
  background: linear-gradient(to right,#23336d,#220756);
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 7px;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;
}