<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-settings"></a>
    </ion-nav-buttons>
  </ion-nav-bar> -->

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="font-size: 2rem; font-weight: 500">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="{{p.icon}}"></ion-icon>
            </ion-col>
            <ion-col col-10>
              <span>{{p.title}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
