 
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Table of Contents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item menuClose ion-item *ngFor="let p of pages" [ngStyle]="{'background-color': p.bgcolor}" (click)="toggleDetails(p)" text-wrap class="main-cat">
      {{p.title}}
      <div *ngIf="p.expand" class="sub-cat-section">
        <ion-list>
          <ion-item ion-item *ngFor="let sub of p.subcategory" (click)="openChapter(p.chapter, sub.chapter)" text-wrap class="sub-cat">
            {{sub.title}}
          </ion-item>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>
</ion-content>