page-library {

    .sub-cat {
        background-color: #04335a;
        color: white;
    }

    .main-cat{
        color: white;

        .label-md{
            font-size: 10px;
        }

        .item-block{
            min-height: 3.4rem;
        }
    }

    .sub-cat-section {
        padding-top: 20px;
    }
}