<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="manual-content"  overflow-scroll="true">
  <h3>Boyle's Law</h3>

  The formula for Boyle’s law is: C = P × V
  <br />
  <i>Legend:</i>
  <ul class="my-nav">
    <li>C - a constant</li>
    <li>P - absolute pressure</li>
    <li>V - Volume</li>
  </ul>

  <ion-item>
      <ion-label color="primary" stacked>P</ion-label>
    <ion-input type="text" [(ngModel)]="pressure" placeholder="Absolute Pressure"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>V</ion-label>
    <ion-input type="text" [(ngModel)]="volume" placeholder="Volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-constant">0</span></u> constant.
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="compute()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>
  <br /><br />
  <div class="item item-divider">
    VOLUME
  </div>

  <ion-item>
    <ion-label color="primary" stacked>Initial Depth</ion-label>
    <ion-input type="text" [(ngModel)]="d1" placeholder="Initial Depth"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Initial Volume</ion-label>
    <ion-input type="text" [(ngModel)]="volume1" placeholder="Initial Volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Final Depth</ion-label>
    <ion-input type="text" [(ngModel)]="d2" placeholder="Final Depth"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-finalVolume">0</span></u> ft<sup>3</sup>
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeFinalVolume()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br /><br />
  <div class="item item-divider">
    PRESSURE
  </div>

  <ion-item>
    <ion-label color="primary" stacked>Initial Depth</ion-label>
    <ion-input type="text" [(ngModel)]="d3" placeholder="Initial Depth"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Initial Volume</ion-label>
    <ion-input type="text" [(ngModel)]="volume2" placeholder="Initial Volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Final Volume</ion-label>
    <ion-input type="text" [(ngModel)]="volume3" placeholder="Final Volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-finalDepth">0</span></u> ft<sup>3</sup>
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeFinalDepth()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

</ion-content>
