<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="manual-content"  overflow-scroll="true">
  <h3>"T" Formula for Standard Cubic Feet of Gas</h3>

  <div class="item item-divider">
    AMOUNT OF GAS USED
  </div>

  <ion-item>
    <ion-label color="primary" stacked>Pressure, in psi</ion-label>
    <ion-input type="number" [(ngModel)]="pressure" placeholder="Pressure, in psi"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>FV, in cu ft</ion-label>
    <ion-input type="number" [(ngModel)]="fv" placeholder="FV, in cu ft"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-scf">0</span></u> scf
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computeScf()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br /><br />
  <div class="item item-divider">
    PRESSURE
  </div>

  <ion-item>
      <ion-label color="primary" stacked>SCF</ion-label>
    <ion-input type="number" [(ngModel)]="scf" placeholder="SCF"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>FV, in cu ft</ion-label>
    <ion-input type="number" [(ngModel)]="fv2" placeholder="FV, in cu ft"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Result : <u><span id="result-pressure">0</span></u> psig
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computePressure()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>
  
</ion-content>
