<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="manual-content"  overflow-scroll="true">
  <h3>Charles'/Gay-Lussac's Law</h3>
  
  <div class="item item-divider">
    VOLUME
  </div>
  <br \>The formulas for expressing Charles'/Gay-Lussac's law are as follows.
  <br \><br \>
  For the relationship between volume and temperature:<br \>
  V<sub>1</sub> / T<sub>1</sub> = V<sub>2</sub> / T<sub>2</sub>
  <br /><br />
  Where: Pressure is constant<br \>
  T<sub>1</sub> = initial temperature (absolute) <br \>
  T<sub>2</sub> = final temperature (absolute) <br \>
  V<sub>1</sub> = initial volume<br \>
  V<sub>2</sub> = final volume<br \>
  <ion-item>
      <ion-label color="primary" stacked>T<sub>1</sub></ion-label>
    <ion-input type="text" [(ngModel)]="t1" placeholder="Temperature in Farenheit"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>V<sub>1</sub></ion-label>
    <ion-input type="text" [(ngModel)]="v1" placeholder="Initial Volume"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>T<sub>2</sub></ion-label>
    <ion-input type="text" [(ngModel)]="t2" placeholder="Temperature in Farenheit"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        V<sub>2</sub> : <u><span id="result-v2">0</span></u> ft<sup>3</sup>.
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="compute()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

  <br /><br />
  <div class="item item-divider">
    PRESSURE
  </div>
  <br \>And, for the relationship between pressure and temperature:<br \>
  P<sub>1</sub> / T<sub>1</sub> = P<sub>2</sub> / T<sub>2</sub>
  <br \><br \>
  Where: Volume is constant<br \>
  P<sub>1</sub> = initial pressure (absolute) <br \>
  P<sub>2</sub> = final pressure (absolute) <br \>
  T<sub>1</sub> = initial temperature (absolute) <br \>
  T<sub>2</sub> = final temperature (absolute)<br \>
  <br />
  <ion-item>
      <ion-label color="primary" stacked>Initial Gauge Pressure</ion-label>
    <ion-input type="text" [(ngModel)]="p1" placeholder="Initial Gauge Pressure"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>T<sub>1</sub></ion-label>
    <ion-input type="text" [(ngModel)]="t3" placeholder="Initial Temperature"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>T<sub>2</sub></ion-label>
    <ion-input type="text" [(ngModel)]="t4" placeholder="Final Temperature"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="add-pre">
        Final Guage : <u><span id="result-pressure">0</span></u> psig
    </ion-label>
  </ion-item>

  <ion-buttons class="bar-buttons bar-buttons-md item-md pad-top-20">
    <button (click)="computePressure()" color="secondary" class="disable-hover bar-button bar-button-ios bar-button-solid bar-button-solid-ios bar-button-solid-ios-secondary">
      <span class="button-inner">Compute</span>
    </button>
  </ion-buttons>

</ion-content>
